.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Project CSS */

.body-height{
 min-height: 100vh;
}

.logo-slogan{
  
  display:flex
}
.slogan-margin{
  margin-top: 30px;
  /* margin-left: 70px; */
}

.slogan-italic{
  margin-top:35px;
  font-style:italic;
}

.logo-b-margin{
  margin-bottom:0px;
}

.Card-custom {
  background-color: darkblue !important;
  
}
.card1-width{
  width:60%;
  margin-left: auto;
  margin-right: auto;
}


.pro-img-size{
  width: 100%;
}

.searchbar-container{
  background-color: rgb(213, 213, 240);
  min-height: 400px;
  width:70%;
  min-width:300px;
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom: 100px;
}

.search-header-container{
  display:flex;
  justify-content:center;
  margin-top:30px;
}
.search-header{
  border:1px solid;
  border-radius: 10px;
  height:80px;
  width:382px;
  background-color:#70cf36;;
  color:white;
  padding-top: .2in;
  text-align: center;

}

/* .search-dropdown-container{
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid;
  width: 50%;
  height: 30%;
  align-items:right;
  margin-left:.5in;
  padding-top: 110px;
  position: relative;
  top: 55px;  
} */

.Dog{
  margin:0 20px;
}

.DogDetail{
  margin-top: 90px;
}


/* ******************************* */

.Card-custom {
    background-color: rgb(1, 7, 92) !important;
    align-items: center;
  }
.Head {
    background-color: rgb(1, 7, 92) !important;
    
  }

  .Accordion-container {
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
  }
  
  .Accordion-size {
    width: 70%;
  }
  
  .Accordion-body {
    text-align: left;
  }
  .Accordion-text {
    font-size: 1.25em;
  }
  
