.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Project CSS */


.logo-slogan{
  
  display:flex
}
.slogan-margin{
  margin-top: 30px;
  margin-left: 70px;
}

.slogan-italic{
  margin-top:35px;
  font-style:italic;
}

.logo-b-margin{
  margin-bottom:0px;
}

.Card-custom {
  background-color: darkblue !important;
  align-items: center;
}
=======
/* ******************************* */

.Card-custom {
    background-color: rgb(1, 7, 92) !important;
    align-items: center;
  }
.Head {
    background-color: rgb(1, 7, 92) !important;
    
  }

